<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if logged_in_user %}
    <h3 style="color:{{ session.get('color') }}">Hello {{ logged_in_user }}</h3>
    {% endif %}

    <form action="/search">
        Name:<input name="search">
        Phone:<input name="phone">
        <input type="submit" value="Search">
    </form>
    {% for student in students %}

    <li>{{ student.name }} - {{ student.phone }} </li>
    {% endfor %}
</body>

</html>